[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
translate = "*"
fastapi = "*"
psycopg2-binary = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"

[dev-packages]

[requires]
python_version = "3.11"
