[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
translate = "*"
fastapi = "*"
psycopg2-binary = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"
pydantic = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
